<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edubarber</title>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  
  {% load static %}
  


  {% block js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <script src="{% static 'app/js/scripts.js' %}"></script>
  {% endblock %}

  {% block css %}
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
  {% endblock %}


{% block contenido %}

{% endblock %}

<!-- footer -->

<!-- end footer -->

{% block javascript %}
<!-- Javascript files-->

{% endblock %}

